/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  border-radius: 4px;
}

::-webkit-scrollbar-corner {
  background-color: rgba(0, 0, 0, 0);
}

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: darkgrey;

  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-resizer {
}
